.go{
    width: 100px;
    height: 50px;
    background: blue;
    cursor: pointer;

}
.go:hover{
    background: red;
}
select {
    padding: 4px;
  }
#container{
display: flex;
}
.tree span:hover {
      font-weight: bold;
    }
.tree span {
      cursor: pointer;
    }
.hide{
            display: none;
        }
.show{
            display: block;
        }
.tooltip {
      position: fixed;
      padding: 10px 20px;
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    };

table {
      border-collapse: collapse;
    }
th, td {
      border: 1px solid black;
      padding: 4px;
    }
th {
      cursor: pointer;
    }
th:hover {
      background: yellow;
    }